body {}
/* 띠배너 =============================== */
.tie_bnr {
    display: flex; flex-flow: row nowrap;
    position:relative;
}
.tie_bnr a {
    width: 100%;
    background-color: #5a1e78;
    color: #fff;
    height: 38px;
    font-size: 1.13rem;
    display: flex; flex-flow: row nowrap;
    align-items: center; justify-content: center;
}
.tie_bnr .close_btn {
    width:38px ; height: 38px;
    position: absolute;
    right: 0;
    margin-right: 50px;
}
.tie_bnr .close_btn img {
    width: 20px; height: 20px;
}
/* 로고~검색창~lnb (헤더 상단) =============================== */
#wrap header {
    max-width: 1350px;
    margin: 0 auto;
    padding: 40px 0;
}
#wrap header .h_top {
    display: flex; flex-flow: row nowrap;
    justify-content:space-between; align-items: center;
    padding-bottom: 40px;
}
#wrap header .h_top h1 {
    width: 193px;
}
#wrap header .h_top h1 a {}
#wrap header .h_top h1 a img {
    width: 100%;
}
#wrap header .h_top #searching_box {
    border: #5a1e78 1px solid;
    border-radius: 50px;
    min-width: 359px; height: 36px;
    margin: 0 auto;
    display: flex; flex-flow: row nowrap;
    justify-content:left; align-items: center;
}
#wrap header .h_top #searching_box #search {
    text-align: center;
    font-size: 0.88rem;
    transform: translateX(5%);
    width: 359px;
}
#wrap header .h_top #searching_box #search_icon {
    width: 30px; height: 30px;
    position: relative; right: 15px;
}
#wrap header .h_top #searching_box #search_icon img {
    width: 100%;
}
#wrap header .h_top #lnb {

}
#wrap header .h_top #lnb a {
    font-size: 0.88rem;
    margin-right: 20px;
}
#wrap header .h_top #lnb a:last-child {
    margin-right: 0px;
}
/* 카테고리 (헤더 하단) =============================== */
#wrap header .h_btm {
    display: flex; flex-flow: row nowrap;
    justify-content:space-between; align-items: center;
}
#wrap header .h_btm .whole_cate {}
#wrap header .h_btm .whole_cate #cate_block {}
#wrap header .h_btm .whole_cate #cate_block img {
    margin-right: 10px;
}
#wrap header .h_btm .whole_cate #cate_block span {
    font-size: 1.13rem;
    font-weight: 300;
}
#wrap header .h_btm .whole_cate .w_cate_page {
    display: none;
}
#wrap header .h_btm .whole_cate .w_cate_page .depth_01 {}
#wrap header .h_btm .whole_cate .w_cate_page .depth_01 > li {}
#wrap header .h_btm .whole_cate .w_cate_page .depth_01 > li > a {}
#wrap header .h_btm .whole_cate .w_cate_page .depth_01 > li > a .depth_02 {}
#wrap header .h_btm .whole_cate .w_cate_page .depth_01 > li > a .depth_02 li {}
#wrap header .h_btm .whole_cate .w_cate_page .depth_01 > li > a .depth_02 li a {}
/* 카테고리 외 gnb (헤더 하단) =============================== */
#wrap header .h_btm nav {
    display: flex; flex-flow: row nowrap;
    justify-content: center; align-items: center;
    gap: 180px;
}
#wrap header .h_btm nav #gnb {
}
#wrap header .h_btm nav #gnb a:first-child {margin-left: 0px;}
#wrap header .h_btm nav #gnb a {
    font-size: 1.13rem;
    font-weight: 300;
    margin-left: 75px;
}
#wrap header .h_btm nav .h_guide {}
#wrap header .h_btm nav .h_guide .seller_page {}
#wrap header .h_btm nav .h_guide .seller_page img {}
#wrap header .h_btm nav .h_guide .delivery_guide {
    margin-left: 5px;
}
#wrap header .h_btm nav .h_guide .delivery_guide img {}
/* main (각섹션, 타이틀, h1+p, 더보기버튼) =============================== */
#wrap main section {
    width: 1350px;
    margin: 0 auto;
    margin-bottom: 110px;
}
#wrap main section .title {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between; align-items:flex-start;
    margin-bottom: 30px;
    padding-top: 20px;
}
#wrap main section .title .title_info {}
#wrap main section .title .title_info h1 {
    font-size: 2.19rem;
    margin-bottom: 17px;
}
#wrap main section .title .title_info p {
    font-size: 1.06rem;
    font-weight:200;
    color: #505050;
}
#wrap main section .title .more_btn {}
#wrap main section .title .more_btn img {}
/* main (섹션별 콘테이너) =============================== */
#wrap main section .contents {}
#wrap main section .contents .container {
    display: flex; flex-flow: row nowrap;
    overflow: hidden;
}
#wrap main section .contents .container li {
    padding-right:14px;
    padding-right: calc((100% - (253px * 5)) / 4);
}
#wrap main section .contents .container li .product_head {}
#wrap main section .contents .container li .product_head .p_img {
}
#wrap main section .contents .container li .product_head .p_img img {
    width: 253px;
}
#wrap main section .contents .container li .product_head .pp_point {}
#wrap main section .contents .container li .product_head p {
    color: #5a1e78;
}
#wrap main section .contents .container li .product_head p span {
    color: #5a1e78;
    font-size:1.56rem; font-weight:700;
}
#wrap main section .contents .container li .product_info {}
#wrap main section .contents .container li .product_info a {}
#wrap main section .contents .container li .product_info a p {
    margin-bottom: 5px;
    color: #4a4a4a;
}
#wrap main section .contents .container li .product_info a p em {
    font-size:1.25rem; font-weight:700; line-height: 1.5;
    color: #4a4a4a;
}
#wrap main section .contents .container li .product_info a span {
    font-size:0.75rem; font-weight:300; line-height: 1.1;
    color: #888;
}
#wrap main section .contents .container li .product_info .price {
    display: flex; flex-flow: column nowrap;
    justify-content: flex-start; align-items: flex-start;
    padding-top: 5px;
}
#wrap main section .contents .container li .product_info .price del {
    font-size:1.06rem; font-weight:300; line-height: 1.1;
    color: #888;
}
#wrap main section .contents .container li .product_info .price em {
    font-size:1.19rem; font-weight:700; line-height: 1.1;
    color: #6b6b6b;
    padding-top: 5px;
}
/* main (섹션별 콘테이너 좌우버튼) =============================== */
#wrap main section .contents .prev_btn {}
#wrap main section .contents .prev_btn img {
    width: 30px; height: 50px;
}
#wrap main section .contents .next_btn {}
#wrap main section .contents .next_btn img {
    width: 30px; height: 50px;
}
/* footer (링크리스트) =============================== */
#wrap footer {
}
#wrap footer .link_list {
    background-color: #f5f5f5;
    border-top: 1px solid #d6d6d6;
    display: flex; flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap:60px;
}
#wrap footer .link_list li {
    display: flex; flex-flow: row nowrap;
    justify-content: space-around; align-items: center;
}
#wrap footer .link_list li:first-child img {
    width: 50px; height: 50px;
    margin-right: 15px;
    border-radius: 6px;
}
#wrap footer .link_list li img {}
#wrap footer .link_list li em {
    font-size: 1.25rem; font-weight: 700; color: #222;
}
#wrap footer .link_list li a {}
/* footer (최하단 회색존) =============================== */
#wrap footer #gray_zone_bg {
    background-color: #888;
    padding: 40px 0;
    width: 100%;
}
#wrap footer #gray_zone_bg #gray_zone {
    max-width: 1650px;
    margin: 0 auto;
    display: flex; flex-flow: row nowrap;
    justify-content:space-between; align-items: center;
}
#wrap footer #gray_zone .f_wh_bar {
    background-color: #fff;
    width: 1px; height: 200px;
}
#wrap footer #gray_zone_bg #gray_zone .f_txt {}
#wrap footer #gray_zone_bg #gray_zone .f_txt .info {
    font-size: 0.75rem;
}
#wrap footer  #gray_zone_bg #gray_zone .f_txt a {
    color: #fff; margin-right: 25px;
}
#wrap footer  #gray_zone_bg #gray_zone .f_txt a img {
    padding: 40px 0;
}
#wrap footer  #gray_zone_bg #gray_zone .f_txt address {
    color: #b2b2b2;
    font-size: 0.94rem;
    line-height: 1.6;
}
#wrap footer  #gray_zone_bg #gray_zone .f_txt address span {
    color: #474747;
}
#wrap footer  #gray_zone_bg #gray_zone .f_txt address em {
    color: #b2b2b2;
    font-weight:700; 
}
#wrap footer  #gray_zone_bg #gray_zone .f_guide_01 {}
#wrap footer  #gray_zone_bg #gray_zone .f_guide_01,
#wrap footer  #gray_zone_bg #gray_zone .f_guide_02 {
    display: flex; flex-flow: column nowrap;
    justify-content: left;
    align-items:flex-start;
}
#wrap footer  #gray_zone_bg #gray_zone .f_guide_01 dt {}
#wrap footer  #gray_zone_bg #gray_zone .f_guide_01 dd:nth-child(2),
#wrap footer  #gray_zone_bg #gray_zone .f_guide_02 dd:nth-child(2) {
    margin-bottom: 72px;
}
#wrap footer  #gray_zone_bg #gray_zone .f_guide_01 dt a,
#wrap footer  #gray_zone_bg #gray_zone .f_guide_02 dt a {
    display: flex; flex-flow: row nowrap;
    align-items: center;
}
#wrap footer  #gray_zone_bg #gray_zone .f_guide_01 dt:first-child a img,
#wrap footer  #gray_zone_bg #gray_zone .f_guide_02 dt:first-child a img {
    padding-top: 7px;
}
#wrap footer #gray_zone .f_guide_01 dt a img,
#wrap footer #gray_zone .f_guide_02 dt a img {
    margin-right: 10px;
}
#wrap footer #gray_zone .f_guide_01 dt a img {
    height: 38px;
}
#wrap footer #gray_zone .f_guide_01 dt a em,
#wrap footer #gray_zone .f_guide_02 dt a em {
    color: #fff;
    font-size: 1.81rem; font-weight: 800; line-height: 1.5;
}
#wrap footer #gray_zone .f_guide_01 dd {}
#wrap footer #gray_zone .f_guide_01 dd,
#wrap footer #gray_zone .f_guide_02 dd {
    color: #fff;
    font-size: 0.88rem; font-weight:200; line-height: 1.5;
    padding-left: 50px;
}
#wrap footer #gray_zone .f_guide_02 {}
#wrap footer #gray_zone .f_guide_02 dt {}
#wrap footer #gray_zone .f_guide_02 dt a {}
#wrap footer #gray_zone .f_guide_02 dt a:first-child {
    display: flex; flex-flow: row nowrap;
    align-items: end;
}
#wrap footer #gray_zone .f_guide_02 dt a img {
    width: 34px;
}
#wrap footer #gray_zone .f_guide_02 dt a em {}
#wrap footer #gray_zone .f_guide_02 dt a .center_nvr {
    font-size: 1.0rem; line-height: 1.5;
    margin-left: 5px;
}
#wrap footer #gray_zone .f_guide_02 dd {}